<!DOCTYPE html>
<html lang="en">
     <!-- Head -->
     <%- include('./partials/head') %>
<body>
        <!-- Header -->
        <%- include('./partials/header') %>


    <section class="carrou">
        <div class="carrou"><img src="images/gaming.gif" height="300px"></div>
    </section>
    
    <section class="ofertas">
        <div class="ofertas"><p></p></div></section>
    <main>
            <div class="productos">
                <% products.forEach(function(products){ %>
                <div class="prod">
                <a href="/products/detail/<%= products.id %>"><p class="pop"><%= products.description%></p>
                <img src="/images/products/<%= products.image %>" alt="">
                <div class="info">
                    <div class="precio-disc">
                        <p class="precio">$<%= products.price%></p>
                        <p class="descuento"><%= products.discount%>% OFF</p></div>
                        <p class="nombre"><%= products.name%></p>
                </div>
            </a>
        </div>
            <% }) %>
            </div>
    </main>

    <section class="banner">
        <img src="images/cuotas.png" alt="Banner de ofertas"></a>
    </section>

<!-- Footer -->
<%- include('./partials/footer') %>
    
</body>
</html>