<!DOCTYPE html>
<html lang="en">
     <!-- Head -->
     <%- include('./partials/head') %>
<body>
        <!-- Header -->
        <%- include('./partials/header') %>


    <section class="carrou">
        <div class="carrou"><img src="images/carrousel1.png" alt=""></div>
    </section>
    
    <main>
        <section class="ofertas">
            <div class="ofertas"><p></p></div></section>
        <div class="productos">
			<% ofertas.forEach(function(product){ 
				let finalPrice = (product.price * ((100 - product.discount) / 100)).toFixed(0)
			%>
            <div class="prod">
            <a href="/detail/<%= product.id %>"><p class="pop"><%= product.description%></p>
            <img src="images/products/<%= product.image%>" alt="">
            <div class="info">
                <div class="precio-disc">
                    <p class="precio">$<%= product.price%></p>
                    <p class="descuento"><%= product.discount%>% OFF</p></div>
                    <p class="nombre"><%= product.name%></p>
            </div>
        </a>
    </div>
        <% }) %>
        </div>
    </main>

    <section class="banner">
        <img src="images/cuotas.png" alt="Banner de ofertas"></a>
    </section>

<!-- Footer -->
<%- include('./partials/footer') %>
    
</body>
</html>