<!DOCTYPE html>
<html lang="en">
     <!-- Head -->
    <%- include('./../partials/head') %>
<body>

     <!-- Header -->
     <%- include('./../partials/header') %>
    
    <main class="register-main">

        <form action="/users/login" method="POST" class="formLogin">

        <section class="register-custom">
            <h4>INICIO DE SESION</h4>

            <% if (locals.errors && errors.email) { %> <%= errors.email.msg %><% } %>
            <input class="controls <%= locals.errors && errors.email ? 'errorform' : null %> emailfield" type="email" name="email" placeholder="Ingrese su correo">
            
            <input class="controls <%= locals.errors && errors.email ? 'errorform' : null %> passfield" type="password" name="password" id="password" placeholder="Ingrese su contraseña">
            
            <p class="recordar-pw"> Recordar usuario  <input type="checkbox" id="huey" name="drone" value="Acepto"></p>
            <ul class="erroresLogin" style="list-style-type:none;"></ul>
            <button class="boton dos" type="submit" value="Ingresar"><span>ingresar</span><rect x="0" y="0" fill="none"></rect></svg></button>
            <p class="no-tenes-acc"><a href="/users/register">¿No tenés cuenta? Registrate ahora mismo.</a></p>
        </section>
        </form>

    </main>

     <!-- Footer -->
     <%- include('./../partials/footer') %>
     <script src="/js/loginScript.js"></script>
</body>
</html>