<!DOCTYPE html>
<html lang="en">
     <!-- Head -->
    <%- include('./../partials/head') %>
<body>

     <!-- Header -->
     <%- include('./../partials/header') %>
    
    <main class="register-main">

        <form action="/users/login" method="POST">

        <section class="register-custom">
            <h4>INICIO DE SESION</h4>

            <% if (locals.errors && errors.email) { %> <%= errors.email.msg %><% } %>
            <input class="controls <%= locals.errors && errors.email ? 'errorform' : null %>" type="email" name="email" placeholder="Ingrese su correo">
            
            <input class="controls <%= locals.errors && errors.email ? 'errorform' : null %>" type="password" name="password" id="password" placeholder="Ingrese su contraseña">
            
            <p class="recordar-pw"> Recordar usuario  <input type="checkbox" id="huey" name="drone" value="Acepto"></p>
            <input class="boton" type="submit" value="Ingresar">
            <p class="no-tenes-acc"><a href="/users/register">¿No tenés cuenta? Registrate ahora mismo.</a></p>
        </section>
        </form>

    </main>

     <!-- Footer -->
     <%- include('./../partials/footer') %>
     
</body>
</html>