<!DOCTYPE html>
<html lang="en">
     <!-- Head -->
    <%- include('./../partials/head') %>
<body>

     <!-- Header -->
     <%- include('./../partials/header') %>
    
     <main class="register-main">

        <section class="register-custom">
            
            <div class="avatar"><img src="/images/users/<%= user.avatar %>"></div>
            
            <h4>BIENVENIDO <%= user.firstName %></h4>

            <h3><%= user.email %></h3>
            
            <div class="botoncarrito">
                <button type="submit" class="boton"><a href="/users/editUser/<%= user.id %>">Editar</a></button>
            </div>
            <form method="POST" action="/users/delete/<%= user.id %>/?_method=DELETE">
                <input class="boton" type="submit" value="Borrar"> 
              </form>

        
        </section>

    </main>

     <!-- Footer -->
     <%- include('./../partials/footer') %>
     
</body>
</html>