<!DOCTYPE html>
<html lang="en">
     <!-- Head -->
    <%- include('./../partials/head') %>
<body>

     <!-- Header -->
     <%- include('./../partials/header') %>
    
     <main class="register-main">

        <section class="register-custom">
            
            <div class="avatar"><img src="/images/users/<%= user.avatar %>"></div>
            
            <h4>BIENVENIDO <%= user.firstName %></h4>

            <h3 style="color: #000;"><%= user.email %></h3>
            
            <div class="botoncarrito">
                <button type="submit" class="boton dos"><span><a href="/users/editUser/<%= user.id %>">editar</span><rect x="0" y="0" fill="none"></rect></svg></a></button>
            </div>
            <form method="POST" action="/users/delete/<%= user.id %>/?_method=DELETE">
                <button class="boton dos danger" type="submit" value="Borrar"><span>borrar</span><rect x="0" y="0" fill="none"></rect></svg></button>
              </form>
        
        </section>

    </main>

     <!-- Footer -->
     <%- include('./../partials/footer') %>
     
</body>
</html>