<!DOCTYPE html>
<html lang="en">
     <!-- Head -->
     <%- include('./../partials/head') %>
<body>
    <!-- Header -->
    <%- include('./../partials/header') %>

    <main class="register-main">

        <form action="/users/register" method="POST" enctype="multipart/form-data">

            <section class="register-custom">
                <h4>REGISTRARSE</h4>
        
                <input class="controls <%= locals.errors && errors.firstName ? 'errorform' : null %>" type="text" name="firstName" id="firstName" placeholder="Ingrese su nombre" value="<%= locals.oldData ? oldData.firstName : null %>">
    
                <input class="controls <%= locals.errors && errors.lastName ? 'errorform' : null %>" type="text" name="lastName" id="lastName" placeholder="Ingrese su apellido" value="<%= locals.oldData ? oldData.lastName : null %>">
                <% if (locals.errors && errors.email) { %> <%= errors.email.msg %><% } %>
                <input class="controls <%= locals.errors && errors.email ? 'errorform' : null %>" type="email" name="email" id="email" placeholder="Ingrese su correo" value="<%= locals.oldData ? oldData.email : null %>">
               
                <input class="controls <%= locals.errors && errors.password ? 'errorform' : null %>" type="password" name="password" id="password" placeholder="Ingrese su contraseña">
              
                <div class="controls"><label for="avatar">Imagen de perfil:</label>
                <input class="controls" type="file" name="avatar" id="avatar" accept=".jpg,.png" multiple placeholder="Seleccionar Imagen"></div>
                
                <p class="term-c">Estoy de acuerdo con <a href="#">Terminos y condiciones </a><input type="checkbox" id="huey" name="drone" value="Acepto"></p>
                <input class="boton" type="submit" value="Registrar">
                <p class="ya-acc"><a href="/users/login">¿Ya tenés cuenta?</a></p>
            </section>
        </form>
    </main>

    <!-- Footer -->
    <%- include('./../partials/footer') %>

</body>
</html>