<!DOCTYPE html>
<html lang="en">
     <!-- Head -->
     <%- include('./../partials/head') %>
<body>
    <!-- Header -->
    <%- include('./../partials/header') %>

    <main class="register-main">

        <form action="/users/register" method="POST" enctype="multipart/form-data" class="formRegister">

            <section class="register-custom">
                <h4>REGISTRARSE</h4>
                <% if (locals.errors && errors.firstName) { %> <%= errors.firstName.msg %><% } %>
                <input class="controls <%= locals.errors && errors.firstName ? 'errorform' : null %> firstnamefield" type="text" name="firstName" id="firstName" placeholder="Ingrese su nombre" value="<%= locals.oldData ? oldData.firstName : null %>">
                <% if (locals.errors && errors.lastName) { %> <%= errors.lastName.msg %><% } %>
                <input class="controls <%= locals.errors && errors.lastName ? 'errorform' : null %> lastnamefield" type="text" name="lastName" id="lastName" placeholder="Ingrese su apellido" value="<%= locals.oldData ? oldData.lastName : null %>">
                <% if (locals.errors && errors.email) { %> <%= errors.email.msg %><% } %>
                <input class="controls <%= locals.errors && errors.email ? 'errorform' : null %> emailfield" type="email" name="email" id="email" placeholder="Ingrese su correo" value="<%= locals.oldData ? oldData.email : null %>">
                <% if (locals.errors && errors.password) { %> <%= errors.password.msg %><% } %>
                <input class="controls <%= locals.errors && errors.password ? 'errorform' : null %> passfield" type="password" name="password" id="password" placeholder="Ingrese su contraseña">
              
                <div class="controls"><label for="avatar">Imagen de perfil:</label>
                <input class="controls" type="file" name="avatar" id="avatar" accept=".jpg,.png" multiple placeholder="Seleccionar Imagen"></div>
                <ul class="erroresRegister" style="list-style-type:none;"></ul>
                <p class="term-c">Estoy de acuerdo con <a href="#">Terminos y condiciones </a><input type="checkbox" id="huey" name="drone" value="Acepto"></p>
                <button class="boton dos" type="submit" value="Registrar"><span>registrarse</span><rect x="0" y="0" fill="none"></rect></svg></button>
                <p class="ya-acc"><a href="/users/login">¿Ya tenés cuenta?</a></p>
            </section>
        </form>
    </main>

    <!-- Footer -->
    <%- include('./../partials/footer') %>
    <script src="/js/registerScript.js"></script>
</body>
</html>