<!DOCTYPE html>
<html lang="en">
     <!-- Head -->
     <%- include('./../partials/head') %>
<body>

     <!-- Header -->
     <%- include('./../partials/header') %>

    <main>
    <div class="detail">
        <div class="pdimg"><img src="/images/products/<%= producto.image %>" alt=""></div>
        <div class="pdinfo">
        <div class="pddes"><p><%= producto.name %></p></div>
        <div class="pdesp"><p><%= producto.description%></p></div>
        <div class="pdpre"><p>$<%= producto.price%></p></div>
        <div class="pdicon">
            <i class="fa-solid fa-shield-halved">GARANTIA 12 MESES</i>
            <i class="fa-solid fa-check">STOCK DISPONIBLE</i>
            <i class="fa-solid fa-globe">SITIO OFICIAL</i>
        </div>
        <div class="pdopciones">
        <div class="pdfde">
            <label for="formadepago">Forma de pago</label>
            <select name="formadepago" id="formadepago">
                <option value="efectivo">Efectivo(en local)</option>
                <option value="credito">Tarjeta de Credito</option>
                <option value="debito">Debito</option>
                <option value="transferencia">Transferencia</option>
            </select>
        </div>
        <div class="pdc">
            <label for="cantidad">Cantidad</label>
            <select name="cantidad" id="cantidad">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="masde5">Consultar</option>
            </select>
        </div>
        <div class="pde">
            <label for="envio">Metodo de Envio</label>
            <select name="envio" id="envio">
                <option value="retiro">Retiro por Local</option>
                <option value="domicilio">Envio a Domicilio</option>
            </select>
        </div>
        </div>
    <div class="pdbotones">
        <div class="botoncomprar">
            <button type="submit" class="boton">Comprar Ahora</button>
        </div>
        <div class="botoncarrito">
            <button type="submit" class="boton">Agregar al Carrito</button>
        </div>
        <div class="botoncarrito">
            <button type="submit" class="boton"><a href="/products/editProducts/<%= producto.id %>">Editar</a></button>
        </div>
    </div>
    </div>
    </div>

    </main>

     <!-- Footer -->
     <%- include('./../partials/footer') %>

</body>
</html>